{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    ["babel-plugin-module-resolver", {
      "alias": {
        "#graphql": "./src/graphql",
        "#components": "./src/components",
        "#helpers": "./src/helpers",
        "#constants": "./src/constants",
        "#apollo": "./src/Client",
        "#store": "./src/Store"
      }
    }]
  ]
}